<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletBasics</display-name>

<!-- Servlet Declarations -->
<servlet>
	<servlet-name>First</servlet-name>
	<servlet-class>com.harshit.nav.FirstServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>Second</servlet-name>
	<servlet-class>com.harshit.nav.SecondServlet</servlet-class>
</servlet>


<!-- Servlet Mapping -->
<servlet-mapping>
	<servlet-name>First</servlet-name>
	<url-pattern>/First</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Second</servlet-name>
	<url-pattern>/Second</url-pattern>
</servlet-mapping>
</web-app>